
body {
    background: linear-gradient(to right, #41076D, #0C316E);
    color: rgb(226, 226, 226);
}
/* Palette color changes */ 
nav button {
    background-color: rgba(255,255,255,0.2);
}
nav button:hover, td:last-of-type:hover  {
    background-color: #290E3D;
}
nav .active, nav button:active, td:last-of-type:active {
    background-color: #041B3D;
}
.sub-bar button:hover i {
    color:  #290E3D;
}
.sub-bar button:active i {
    color:  #041B3D;
}

/* More specific light mode stuff*/
.fas, .fa {
    color: rgb(226, 226, 226);
}
tr:hover {
    background-color: rgba(255,255,255,0.1);
}
td, td:last-of-type {
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
nav, .user-img, .first-tag, .second-tag, #main-library-head {
    background-color: rgba(255,255,255,0.3);
}
#main-library-content{
    border: 1px solid rgba(255,255,255,0.3);
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
