body {
    background: linear-gradient(to right, #B693D1, #698BC2);
    color: white;
}

.clear {
    -webkit-text-fill-color: white;
}
/* Palette color changes */ 
nav button, 
input[type="checkbox"]:hover, .song-info .song-info-top i {
    background-color: rgba(255,255,255,0.2);
}

nav button:hover, td:last-of-type:hover, #confirm-popup button:hover, .song-info button:hover {
    background-color: #C8B6D7;
}
.delete {
    background-color: #f16565;
}
.save {
    background-color: #52b684;
}

.cancel, .clear, button {
    background-color: lightgray;
}

nav .active, nav button:focus, td:last-of-type:focus, input[type="checkbox"]:checked {
    background-color: #A0C8D8;
}
.sub-bar button:hover i {
    color:  #C8B6D7;
}
.sub-bar button:focus i, .library-edits .active i {
    color:  #A0C8D8;
}
.song-info td, .song-info textarea, .select2-results__option {
    color: #808080;
    font-weight: 300;
}
.song-info .song-info-top {
    background: linear-gradient(to right, #B693D1, #698BC2);
    background: -webkit-linear-gradient(#B693D1, #698BC2);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.song-info .song-info-top i.active {
    background: linear-gradient(to right, #698BC2, #B693D1);
    background: -webkit-linear-gradient(#698BC2, #B693D1);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* More specific light mode stuff*/
.fas, .fa, input[type="checkbox"], button {
    color: white;
}
tr:hover {
    background-color: rgba(255,255,255,0.1);
}
td, td:last-of-type {
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

nav, .user-img, .tag, #main-library-head, table textarea:hover {
    background-color: rgba(255,255,255,0.3);
}

table textarea {
    background-color: rgba(255,255,255,0.5);
}

.song-info {
    background-color: rgba(255, 255, 255, 0.9);
}

#main-library-content{
    border: 1px solid rgba(255,255,255,0.3);
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
