/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
 */
 html, button, textarea, .select2-results__option {
    font-family: sans-serif;
}
nav {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
nav button {
    float: left;
    outline: none;
    cursor: pointer;
    padding: 25px 25px;
    transition: 0.3s;
    width: 33.5%;
}
/* Section stuff*/
main, section {
    -moz-animation: fadeEffect 1s;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
main {
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
section {
    display: none;
}
button {
    cursor: pointer;
    border: none;
}
/* Top Bar Stuff */
.top-bar {
    width: 100%;
    top: 50%;
    display: inline-block;
}
.sub-bar {
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}
#hey-there {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.user-img {
    position: relative;
    right: 0;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 100px;
    margin-left: 6.5%;
}
i.fas.fa-user {
    font-size: 50px;
    left: 20%;
    top: 15%;
    position: absolute;
}
.user-img img {
    position: absolute;
    left: 43.6%;
    top: 50%;
    height: 100%;
    width: auto;
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.sub-bar button {
    padding: 15px;
    background: transparent;
    border: none;
    color: transparent;
}
/* Table Styles */
table{
    width:100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}
table td {
    overflow-wrap: break-word;
   /* for long word case */
    hyphens: auto;
}
th {
    padding: 20px 15px;
    font-size: 12px;
}
th {
    text-align: left;
}
th:last-of-type{
    font-weight: 500;
    width: 2.5%;
}
td {
    padding: 15px;
    vertical-align: middle;
    font-weight: 300;
    text-align: left;
    font-size: 15px;
}
td:first-of-type, th:first-of-type, td:last-of-type {
    width: 2.5%;
}
td:last-of-type {
    cursor: pointer;
}

#library td:first-of-type, th:first-of-type {
    display: none;
}
#yes, #no, #clear {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 15px;
    transition: 0.3s;
}
#yes {
    border-radius: 15px 0 0 0;
}
#no {
    border-radius: 0 15px 0 0;
}
#clear {
    border-radius: 15px 15px 0 0;
}
/* being used only for the edit button for now;
change if necessary*/
.fas, .fa {
    font-size: 20px;
}
input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    margin: 0;
    width: 20px;
    height: 20px;
    border: 2px solid;
    transform: translateY(-0.075em);
}
input[type="checkbox"]:checked:after {
    content:"✔";
}
.first-tag, .second-tag {
    overflow: hidden;
    display: inline-block;
    max-width: 90%;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    white-space: nowrap;
    margin: 0 5px 5px 0;
}
/* Editing the size of the stuff itself */
#main-library-head th {
    font-size: 15px;
}
#main-library-content{
    height:700px;
   /* Need to add diff size for mobile usage*/
    overflow-x: auto;
    margin-top: 0px;
}
/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}
.song-info, #add-popup {
    position: absolute;
    align-items: center;
    width: 90%;
    left: 5%;
    top: 25%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: white 2px solid;
    color: black;
}
.song-info button {
    border-radius: 10px;
    padding: .5em 2.5em .5em 2.5em;
}
.song-info table {
    width: 90%;
}
.song-info td {
    font-size: 20px;
}
.song-info div {
    font-size: 32px;
    font-weight: bold;
}
/* Select 2 Changes */
.song-info td:first-of-type {
    width: 0%;
}
.song-info textarea {
    text-align: center;
    border: none;
    vertical-align: middle;
    resize: none;
}

textarea.disabled {
    background-color: transparent;
}

.song-info #tags-table td:last-of-type {
    text-align: left;
}
.select2-container--default .select2-selection--multiple, .song-info textarea {
    width: 40vw;
    min-height: 2vw;
}
.select2-container--default .select2-selection--multiple {
    border: none !important;
    height: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    font-size: 15px;
    border: none;
}
/* Stuff that can be used everywhere */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
